.button{
    background-color: #204080;
    color: #fff;
    border: none;
    padding: .7rem 2rem;
    border-radius: .5rem;
    // cursor: pointer;
    font-weight: 700;
    &:hover{
        background-color: #4F75C2;
    }
}