a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
  padding: 0.2rem 0;
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  // gap: 2rem;
  align-items: flex-start;
  margin-top: 1rem;
  // max-height: 90vh;
  min-height: 510px;
}

.results {
  text-align: left;
  width: 50%;
  margin: 0 auto;
}
.pagContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 2rem 0;

  .pagination {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border: 2px solid #484848;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    color: #484848;
  }

  .dotNota {
    font-weight: bold;
  }
}

.itemContainer {
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #7E7E7E;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  &:hover{
    background-color: #4F75C236;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  
}

.company,
.mail {
  font-size: 0.9rem;
  // text-decoration: underline  ;
}

.country {
  font-size: 0.9rem;
  color: gray;
  text-align: left;
}

.orderMenu {
  display: none;
  // background-color: gainsboro;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 5px 4px 10px 2px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
  border: 1px solid black;
  font-weight: 600;
  li {
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
  }

  li:hover {
    background-color: #b3b3b3;
    color: #fff;
  }
}

.orderBtn {
  min-width: 12rem;
  cursor: pointer;
  margin-left: 0.5rem;
}

.orderBtn:hover .orderMenu {
  display: block;
}

.active {
  background-color: #204080;
  color: #fff !important;
  border: 2px solid #204080 !important;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2.2rem;
}

.logo img {
  height: 63px;
  margin-right: 2rem;
}

.right {
  display: flex;
  align-items: center;
  width: 70%;
}


.location{
  display: flex;
  align-items: center;
  gap: 1rem;
  span{
    color: #72777A;
    font-size: 14px;

  }
  
}

.date{
  text-align: right;
  color: #484848;
  p{
    margin-top: .5rem;
    font-weight: bold;

  }
}