$primary-color: blue;
.inputContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    gap: 1rem;
    margin-top: 1rem;
    .searchInput{
        width: 100%;
        padding: .7rem 1rem;
        border-radius: .5rem;
        border: 1px solid gray;
        &:focus{
            outline: none;
        }
    }
    .searchButton{
        padding: .5rem 1rem;
        cursor: pointer;
        background-color: #204080;
        color: #fff;
        border-radius: .5rem;
        border: none;
    }
}



.result{
    background-color: gainsboro;
    margin-top: 1.5rem;
    padding: .5rem 2rem;
    border-radius: 1rem;
    min-width: 11rem;
}

.showMore{
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}