.result{
    background-color: gainsboro;
    margin-top: 1.5rem;
    padding: .5rem 2rem;
    border-radius: 1rem;
    min-width: 11rem;
}

.showMore{
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}