.footer {
  display: flex;
  background-color: #294e98b8;
  padding: 3rem;
  gap: 2rem;
  margin-top: 2rem;
  align-items: center;

  .flex {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
  }
  
}
