.result{
    // margin-top: 1.5rem;
    padding: .7rem 2rem;
    border-radius: 1rem;
    width: 100%;
    text-align: left;
    border: 1px solid #484848;
    border-radius: 1.5rem;

    .location{
        display: flex;
        align-items: center;
    }

    p{
        padding: 1rem;
        
        span{
            color: #72777A;
            font-size: 14px;
        }
    }

    

}

.showMore{
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}